<h1>Student Result</h1>


<div class="student-result">
    <span class="result-label">Roll Number: </span>
    <span class="result-value">{{studentData.rollNo}}</span>
</div>
<div class="student-result">
    <span class="result-label">Name: </span>
    <span class="result-value">{{studentData.name}}</span>
</div>
<div class="student-result">
    <span class="result-label">DOB: </span>
    <span class="result-value">{{studentData.dob}}</span>
</div>
<div class="student-result">
    <span class="result-label">Score: </span>
    <span class="result-value">{{studentData.score}}</span>
</div>