<footer>
    <div class="footer-container container">

        <div class="content_2">
            <h4>SHOPPING</h4>
            <a routerLink="">Clothing Store</a>
            <a routerLink="">Trending Shoes</a>
            <a routerLink="">Accessories</a>
            <a routerLink="">Sale</a>
        </div>
        <div class="content_3">
            <h4>SHOPPING</h4>
            <a routerLink="">Contact Us</a>
            <a routerLink="" target="_blank">Payment Method</a>
            <a routerLink="" target="_blank">Delivery</a>
            <a routerLink="" target="_blank">Return and Exchange</a>
        </div>
        <div class="content_4">
            <h4>NEWLETTER</h4>
            <p>Be the first to know about new<br>arrivals, look books, sales & promos!</p>
            <div class="f-mail">
                <input type="email" placeholder="Your Email">
                <i class='bx bx-envelope'></i>
            </div>
            <hr>
        </div>
    </div>
    <div class="f-design">
        <div class="f-design-txt container">
            <p>Design and Code by GARVIT RAJPUT</p>
        </div>
    </div>
</footer>